<template>
  <main>
    <Header/>
    <section class="search py-10 md:py-20">
      <div class="container">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <button class="btn-icon hidden md:flex mr-8" @click="$router.go(-1)">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M20 11v2H8l5.5 5.5l-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5L8 11h12z" fill="#626262"/>
                <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
              </svg>
            </button>
            <h1 class="title my-0 text-3xl">
              Pencarian Materi
            </h1>
          </div>
        </div>
        <!--  -->
        <InputSearch />
        <!--  -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <div v-if="loading" class="materi-loader">
            <div class="text-materi-loader"></div>
          </div>
          <Materi v-else v-for="materi in dataMateri" :key="materi.id" :data="materi" />
        </div>
      </div>
    </section>
    <Footer/>
  </main>
</template>

<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import InputSearch from '@/components/InputSearch'
import Materi from '@/components/Materi'
import { mapState } from "vuex";

export default {
  props: {
    id_kategori: {
      type: String,
      default: ''
    }
  },
  components: {
    Header,
    Footer,
    Materi,
    InputSearch
  },
  computed: {
    ...mapState(['dataMateri', 'loading'])
  },
  created() {
    if (this.id_kategori == '') {
      this.$store.dispatch('getDataMateri')
    } else {
      this.$store.dispatch('getDataMateriByKategori', this.id_kategori)
    }
  }
}
</script>

<style scoped>
.materi-loader{
  height: 250px;
  @apply animate-pulse bg-gray-300 flex items-end;
}
.text-materi-loader{
  @apply w-full h-6 rounded-full bg-gray-400 animate-pulse mx-4 mb-4;
}
</style>