<template>
  <footer class="text-center py-8 px-4">
    Digital Inovasi Bangsa &copy; {{ new Date().getFullYear() }}. Alrihgts Reserved
  </footer>
</template>

<script>
export default {

}
</script>

<style>

</style>