<template>
  <div class="relative my-8 md:my-12">
    <div class="input-search" @click="visible=true">
      <input type="text" placeholder="Cari judul materi" v-model="search" @input="visible=true">
      <div class="icon">
        <button class="btn-icon hidden md:flex" v-show="visible" @click="clear">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z" fill="#626262"/>
            <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
          </svg>
        </button>
        <button class="btn-icon ml-4 bg-gray-300" v-show="visible" @click="searching">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5z" fill="#626262"/>
            <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
          </svg>
        </button>
      </div>
    </div>
    <div v-show="visible" class="input-search-menu">
      <div class="flex items-center">
        <span class="text-sm text-gray-500 mr-4">Kategori</span>
        <div class="category" v-for="item in dataKategori" :key="item.nama_kategori" @click="visible=false;category=item.id">
          {{ item.nama_kategori }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data: () => ({
    search: '',
    visible: false,
    category: '',
  }),
  computed: {
    ...mapState(['dataKategori'])
  },
  methods: {
    clear() {
      this.search = ''
      this.visible = false
    },
    handleClickOutside(evt) {
      if (!this.$el.contains(evt.target)) {
        this.visible = false;
      }
    },
    searching() {
      this.$store.dispatch('searchingDataMateri', this.search)
    },
  },
  watch: {
    category(val) {
      this.$store.dispatch('getDataMateriByKategori', val)
    },
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside);
    this.$store.dispatch('getDataKategori')
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside);
  },
}
</script>

<style scoped>
.input-search{
  @apply flex items-center;
}
.input-search input{
  @apply w-full py-3 px-4 border-gray-600 border-2 rounded-none;
}
.input-search .icon{
  margin-left: -110px;
  display: flex;
}
@media (max-width: 400px) {
  .input-search .icon{
    margin-left: -64px;
  }
}
.input-search-menu{
  @apply absolute w-full bg-white shadow py-4 px-4 overflow-auto;
}
.category{
  @apply bg-gray-300 rounded-full py-1 px-2 text-sm mr-2 cursor-pointer transition;
}
.category:hover{
  @apply bg-gray-400;
}
</style>