<template>
  <div class="materi" :style="`background-image: url(${data.gambar});`">
    <div class="screen">
      <div>
        <div>
          {{
            new Date(data.tanggal.seconds * 1000).toLocaleString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' })
          }}
        </div>
        <router-link :to="'/materi/'+data.id">
          <h1 class="text-2xl font-bold capitalize text-materi">
            {{data.judul}}
          </h1>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data']
}
</script>

<style scoped>
.materi{
  height: 250px;
  @apply bg-cover text-white cursor-pointer bg-center;
}
.materi:hover .text-materi{
  text-decoration: underline;
}
.screen{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  @apply p-4 flex items-end;
}
</style>